article.service {
    border: 1px solid #ddd;
    margin: 10px;
    padding: 20px;
    background-color: #fff;
}

/* Additional styles for service table */
.service-table table {
    width: 100%;
    max-height: 400px;
    border-collapse: collapse;
    text-align: left;
    overflow: auto;
}

.service-table th, .service-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    vertical-align: middle;
}

.service-table th {
    background-color: #134169;
    color: #fff;
}

.service-table td {
    background-color: #fff;
}

/* Add overflow:auto to the .service-table div to make it scrollable */
.service-table {
    overflow: auto;
}

